<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="BGBotViewModel" type="WallhavenBGBot.Models.BGBotViewModel, WallhavenBGBot" />
    </configSections>
    <BGBotViewModel 
        Width="1920"
        Height="1080"
        SelectedSort="Relevance"
        SelectedOrder="Desc"
        Categories="General,People"
        Purity="SFW"
        />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>