<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="WallhavenBGBotConfiguration" type="WallhavenBGBot.ConfigurationSections.WallhavenBGBotConfiguration, WallhavenBGBot" />
    </configSections>
    <WallhavenBGBotConfiguration 
        Width="1920"
        Height="1080"
        SelectedSort="Relevance"
        SelectedOrder="Desc"
        Categories="General,People"
        Purities="SFW"
        Interval="0"
        AutomaticallyCleanAppDataFolder="true"
        />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>